@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(23, 15, 36);
}

.navbar-screen,
.navbar-mb {
	backdrop-filter: blur(50px);
	background: linear-gradient(transparent, transparent 50%, #170f23aa 50%, #170f23aa);
	background-size: 100% 200%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	transition: background-position 1s;
}

.navbar-mb {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.isScroll {
	backdrop-filter: blur(50px);
	background-position: -100% -100%;
	transition: background-position 0.5s;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	display: none;
}
