@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-blur: #170f2387;
	--primary: #170f23;
	--primary-bg: #34224f;
	--purple-primary: #9b4de0;
	--primary-blur-bg: rgba(0, 0, 0, 0.05);
	--sidebar-bg: #231b2e;
	--sidebar-popup-bg: #2a213a;
	--layout-header-bg: rgba(23, 15, 35, 0.666);
	--modal-layout-bg: rgba(0, 0, 0, 0.5);
	--player-bg: #130c1c;
	--background-section: "";
	--background-section-size: 1920px auto;
	--newsonglayout-bg: url("https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.9/static/media/new-release-bg.73d8f976.jpg");

	--text-primary: #fff;
	--text-blur: #756a87;
	--text-secondary: hsla(0, 0%, 100%, 0.5);
	--link-text-hover: #c273ed;
	--white: #fff;
	--black: #000;
	--button-hide: #595362;
	--search-text: #dadada;

	--hover-blur-bg: rgba(0, 0, 0, 0.05);
	--hover-blur-bg-button: rgba(0, 0, 0, 0.2);

	--border-player: hsla(0, 0%, 100%, 0.1);
	--border-secondary: hsla(0, 0%, 100%, 0.5);
}

html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-attachment: fixed;
	background-image: var(--background-section);
	background-size: var(--background-section-size);
	position: relative;
	background-color: var(--primary);
}

.navbar-screen,
.navbar-mb {
	backdrop-filter: blur(50px);
	background: linear-gradient(transparent, transparent 50%, var(--layout-header-bg) 50%, var(--layout-header-bg));
	background-size: 100% 200%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	transition: background-position 1s;
}

.navbar-mb {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.isScroll {
	backdrop-filter: blur(50px);
	background-position: -100% -100%;
	transition: background-position 0.5s;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-section);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.scroll-search::-webkit-scrollbar {
	width: 6px;
}

.scroll-search::-webkit-scrollbar-track {
	background: transparent;
	background: var(--primary-bg);
	margin: 10px 0;
}

.scroll-search::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 100rem;
}

.scroll-search::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 10px;
}

.scroll-search::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 10px;
}

@media (max-width: 800px) {
	.banner-load {
		display: none !important;
	}
}

.trending-skeleton {
	width: 50px !important;
	height: 50px;
}
.ant-skeleton-button {
	min-width: 0px !important;
}

.stroke-rank {
	-webkit-text-stroke: 1.5px var(--text-primary);
	color: rgba(74, 144, 226, 0);
	font-size: 30px;
}

.stroke-rank.rank-1 {
	-webkit-text-stroke-color: #4a90e2;
}

.stroke-rank.rank-2 {
	-webkit-text-stroke-color: #50e3c2;
}

.stroke-rank.rank-3 {
	-webkit-text-stroke-color: #e35050;
}

.MuiPagination-ul li button {
	font-size: 18px;
}
.MuiPagination-root {
	width: 100%;
}
.MuiPagination-ul {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.MuiPagination-ul li {
	width: 24px;
}

.MuiPagination-ul li button {
	font-size: 16px;
	color: var(--text-primary) !important;
}

.MuiPagination-ul li button svg {
	width: 24px;
	height: 24px;
}

@media only screen and (max-width: 739px) {
	.MuiPagination-ul li {
		/* padding: 0 1px; */
	}
}

@media (min-width: 768px) {
	.MuiPagination-ul li button {
		font-size: 20px;
	}
	.MuiPagination-ul li button svg {
		width: 24px;
		height: 24px;
	}
	.MuiPagination-ul li {
		padding: 0 10px;
	}
}

.Mui-selected {
	color: #fff !important;
	background-color: var(--purple-primary) !important;
}

body img {
	height: auto;
	max-width: 100%;
}

.scroll-artist::-webkit-scrollbar {
	display: none;
}

.background-album {
	backdrop-filter: blur(30px);
	background-image: linear-gradient(135deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.1));
	border-radius: 4px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media (min-width: 768px) {
	.background-album {
		background-image: none;
		backdrop-filter: blur(0px);
		box-shadow: none;
	}
}

.album-scroll::-webkit-scrollbar {
	width: 6px;
	height: 10px;
}

.album-scroll::-webkit-scrollbar-track {
	background: transparent;
	margin: 10px 0;
}

.album-scroll::-webkit-scrollbar-thumb {
	background-color: rgb(233, 226, 226, 0.2);
	border-radius: 100rem;
}

.music-waves {
	height: 35px;
	display: flex;
	align-items: center;
}

.music-waves span {
	display: block;
	position: relative;
	background: #000;
	height: 80%;
	width: 4px;
	border-radius: 10px;
	margin: 0 3px;
	animation: animate 1.2s linear infinite;
}

/* .music-waves span.disabled {
  animation: 0;
  height: 50%;
} */

.music-waves span:nth-child(1) {
	animation-delay: 0s;
	background: white;
}

.music-waves span:nth-child(2) {
	animation-delay: 0.3s;
	background: #fff;
}

.music-waves span:nth-child(3) {
	animation-delay: 0.6s;
	background: #fff;
}

.music-waves span:nth-child(4) {
	animation-delay: 0.9s;
	background: #fff;
}

@keyframes animate {
	50% {
		height: 20%;
	}

	100% {
		height: 100%;
	}
}
.input-time {
	/* -webkit-appearance: none;
	height: 4px;
	border-radius: 10px;
	background: gray;
	background-image: linear-gradient(var(--purple-primary), var(--purple-primary));
	background-repeat: no-repeat; */
}

.input-time {
	width: 100%;
	-webkit-appearance: none;
	height: 4px;
	outline: none;
	background: gray;
	background-image: linear-gradient(var(--purple-primary), var(--purple-primary));
	background-repeat: no-repeat;
	-webkit-transition: 0.1s;
	transition: 0.1s all ease-out;
	cursor: pointer;
	border-radius: 10px;
}

.input-volume {
	width: 100%;
	-webkit-appearance: none;
	height: 6px;
	outline: none;
	background: gray;
	background-image: linear-gradient(var(--purple-primary), var(--purple-primary));
	background-repeat: no-repeat;
	-webkit-transition: 0.1s;
	transition: 0.1s all ease-out;
	cursor: pointer;
	border-radius: 10px;
}

.input-volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: var(--purple-primary);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: 0.1s;
	transition: 0.1s all ease-out;
}

.slider-time:hover .input-time {
	height: 6px;
}

.slider-time:hover .input-time::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	transition: 0.1s all ease-out;
	border-radius: 50%;
	background: var(--purple-primary);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.input-time::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 0;
	height: 0;
}

.spin {
	animation: spinner linear 8s infinite;
}

.returnSpin {
	animation: retunrSpinner linear 0.3s;
}

@keyframes spinner {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes retunrSpinner {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}
