@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-blur: #170f2387;
	--primary: #170f23;
	--primary-bg: #34224f;
	--purple-primary: #9b4de0;
	--primary-blur-bg: rgba(0, 0, 0, 0.05);
	--sidebar-bg: #231b2e;
	--sidebar-popup-bg: #2a213a;
	--layout-header-bg: rgba(23, 15, 35, 0.666);
	--modal-layout-bg: rgba(0, 0, 0, 0.5);
	--player-bg: #130c1c;
	--background-section: "";
	--background-section-size: 1920px auto;
	--newsonglayout-bg: url("https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.9/static/media/new-release-bg.73d8f976.jpg");

	--text-primary: #fff;
	--text-blur: #756a87;
	--text-secondary: hsla(0, 0%, 100%, 0.5);
	--link-text-hover: #c273ed;
	--white: #fff;
	--black: #000;
	--button-hide: #595362;
	--search-text: #dadada;

	--hover-blur-bg: rgba(0, 0, 0, 0.05);
	--hover-blur-bg-button: rgba(0, 0, 0, 0.2);

	--border-player: hsla(0, 0%, 100%, 0.1);
	--border-secondary: hsla(0, 0%, 100%, 0.5);
}

html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
}

body {
	background-attachment: fixed;
	background-image: var(--background-section);
	background-size: var(--background-section-size);
	position: relative;
	background-color: var(--primary);
}

.navbar-screen,
.navbar-mb {
	backdrop-filter: blur(50px);
	background: linear-gradient(transparent, transparent 50%, var(--layout-header-bg) 50%, var(--layout-header-bg));
	background-size: 100% 200%;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	transition: background-position 1s;
}

.navbar-mb {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.isScroll {
	backdrop-filter: blur(50px);
	background-position: -100% -100%;
	transition: background-position 0.5s;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-section);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, 0.1);
}

.scroll-search::-webkit-scrollbar {
	width: 6px;
}

.scroll-search::-webkit-scrollbar-track {
	background: transparent;
	background: var(--primary-bg);
	margin: 10px 0;
}

.scroll-search::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 100rem;
}

.scroll-search::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 10px;
}

.scroll-search::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 10px;
}

@media (max-width: 800px) {
	.banner-load {
		display: none !important;
	}
}

.trending-skeleton {
	width: 50px !important;
	height: 50px;
}
.ant-skeleton-button {
	min-width: 0px !important;
}
